body {
  font-family: 'Noto Serif', sans-serif;
  background-color: #f8f8fa;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', serif;
}
.container {
  background-color: #fff;
}
.content {
  padding: 50px 40px;
}
.header-container {
  background-color: transparent;
  padding: 30px 0 20px;
}
.main-header {
  height: calc(100vh - 78px);
  background-image: url('../img/main-header-bg.jpg');
  background-size: cover;
  position: relative;
}
.navbar-dark {
  background-color: #333547 !important;
  font-family: 'Oswald', serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.motd {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  font-size: 11rem;
  font-family: 'Oswald', serif;
  text-transform: uppercase;
  margin-left: 50px;
  height: calc(100% - 80px);
}
.motd p {
  margin-bottom: -15px;
}
.motd .big {
  margin-bottom: -30px;
  margin-top: -30px;
}
.motd .small {
  font-size: 3.8rem;
}
.motd .sub {
  font-size: 4.2rem;
  font-family: 'Noto Serif', sans-serif;
  text-transform: none;
}
.card {
  margin-bottom: 30px;
}
.doc-section {
  margin-bottom: 40px;
}
.doc-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
svg {
  width: 100%;
  height: 100%;
  color: #626ed4;
}
svg .bar {
  fill: #cbcff1;
}
.bar-bright {
  fill: #626ed4 !important;
}
.bar-label {
  color: white;
  font-size: 14px;
  display: block;
  text-align: center;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem #cbcff1;
}
#output {
  width: 100%;
}
