{% extends 'layouts/default.html' %}
{% block title %}Documentation{% endblock %}

{% block content %}
<section class="documentation">
  <div class="container header-container">
    <h1>Documentation</h1>
  </div>
  <div class="container content">

    <section id="api-reference" class="doc-section">
      <h2>API Reference</h2>
      <p>API provides information about 3 most importanct economical sectors for countries around the world:</p>
      <ul>
        <li>Industry</li>
        <li>Agriculture</li>
        <li>Service</li>
      </ul>
      <p>API acepts GET, POST and DELETE types of requests and returns JSON-encoded responses. It doesn't support authentification.</p>
      <div class="card">
        <div class="card-header">
          Base URL
        </div>
        <div class="card-body">
          <a href="http://10.25.100.1:8080">http://10.25.100.1:8080</a>
        </div>
      </div>
    </section>

    <section id="get-all" class="doc-section">
      <h2>Get all information</h2>
      <div class="card">
        <div class="card-header">
          Request
        </div>
        <div class="card-body">
          <p>/countries</p>
          <dl>
            <dt>Request type:</dt>
            <dd>GET</dd>
            <dt>Description</dt>
            <dd>Returns info about every country in database</dd>
          </dl>
        </div>
      </div>
      <div class="card">
          <div class="card-header">
            Response
          </div>
          <div class="card-body">
<pre>
[
  {
    "_id": {
      "$oid": "5e755a5d70c52e15b23f44be"
    },
    "name": "Afghanistan",
    "data": {
      "service": {
        "1970": "21.8",
        ...
      }
      "industry": {
        "1970": "11",
        ...
      }
      "agriculture": {
        "1970": "67.2",
        ...
      }
    }
  },
  ...
]
</pre>
          </div>
        </div>
    </section>

    <section id="get-country" class="doc-section">
        <h2>Get information about specific country</h2>
        <div class="card">
          <div class="card-header">
            Request
          </div>
          <div class="card-body">
            <p>/countries/country_id</p>
            <dl>
              <dt>Request type:</dt>
              <dd>GET</dd>
              <dt>Description</dt>
              <dd>Returns info about the country with provided id</dd>
              <dt>country_id format</dt>
              <dd>A 24 letters string of digits and letters</dd>
            </dl>
          </div>
        </div>
        <div class="card">
            <div class="card-header">
              Response
            </div>
            <div class="card-body">
<pre>
{
  "_id": {
    "$oid": "5e755a5d70c52e15b23f44bf"
  },
  "name": "Albania",
  "data": {
    "service": {
      "1970": "21.8",
      ...
    }
    "industry": {
      "1970": "11",
      ...
    }
    "agriculture": {
      "1970": "67.2",
      ...
    }
  }
}
</pre>
            </div>
          </div>
      </section>

      <section id="errors" class="doc-section">
        <h2>Errors</h2>
        <div class="card">
          <div class="card-header">
            Possible errors
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">200 - OK</th>
                  <td>Everything worked as expected.</td>
                </tr>
                <tr>
                  <th scope="row">400 - Bad Request</th>
                  <td>The request was unacceptable, often due to missing a required parameter or mailformed parameter.</td>
                </tr>
                <tr>
                  <th scope="row">404 - Not Found</th>
                  <td>The requested resource doesn't exist.</td>
                </tr>
                <tr>
                  <th scope="row">500, 502, 503, 504 - Server Errors</th>
                  <td>Something went wrong on the server's end. This is not your fault :)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

  </div>
</section>
{%endblock%}
