{% extends 'layouts/default.html' %}
{% block title %}Inspirations{% endblock %}

{% block content %}
<section class="inspirations">
  <div class="container header-container">
    <h1>Inspired by</h1>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="static/img/inspiration-typography.jpg" class="card-img-top" alt="Inspiration 1">
          <div class="card-body">
            <h5 class="card-title">Web Typography Example</h5>
            <p class="card-text">This web page gives a great example how to combine two web fonts one of them is Sans Serif and another is Sans</p>
            <a href="https://www.garettcreative.com/21-google-fonts-combinations-for-websites-brands/" class="btn btn-primary" target="_blank">View source</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="static/img/inspiration-main-page.jpg" class="card-img-top" alt="Inspiration 2">
          <div class="card-body">
            <h5 class="card-title">Main Page Example</h5>
            <p class="card-text">A good example of modern looking main page</p>
            <a href="https://inspirothemes.com/polo/home-corporate.html" class="btn btn-primary" target="_blank">View source</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="static/img/inspiration-dashboard.jpg" class="card-img-top" alt="Inspiration 2">
          <div class="card-body">
            <h5 class="card-title">Dashboard Example</h5>
            <p class="card-text">Nice looking dashboard elements for visualisation page</p>
            <a href="https://themesbrand.com/veltrix/layouts/horizontal/index.html" class="btn btn-primary" target="_blank">View source</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
